{
	"repoOwner" : "user",
	"repo" : "myrepo",
	"oauthToken" : "mytokenvalue",
	"tcUser" : "teamcityuser",
	"tcPwd" : "teamcitypassword",
	"tcServer" : "teamcity.server.com",
	"appPort" : 8000,
	"masterStatusServer" : "status.server.com",
	"masterStatusServerPort" : 8000
}
